{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if card.image %}
        <div class="col-md-auto"><img src="{{ card.image.url }}"
        class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ card.title }}</h2>
            <p>{{ card.description }}</p>
        </div>
    </div>
    <p>There are {{ comments|length}} comments</p>
    {% if comments %}
    <h2>Comments</h2>
    {% for comment in comments %}
    <div>
        <h4>{{ comment.autor}}</h4>
        {{ comment.body }} {{ comment.created_on }}

    </div>
    {% endfor %}
    {% else %}
    <h2>Комментариев нет</h2>
    {% endif %}
</div>

<form action="{% url 'web:detail' card.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Send</button>
</form>

{% endblock %}